# ignore .DS_Store file
.DS_Store/
# ignore these node module folders and files
node_modules/.bin/
node_modules/@babel/
node_modules/@bcoe/
node_modules/@istanbuljs/
node_modules/@jest/
node_modules/@jridgewell/
node_modules/@sinclair/
node_modules/@sinonjs/
node_modules/@types/
node_modules/ansi-escapes/
node_modules/ansi-regex/
node_modules/ansi-styles/
node_modules/anymatch/
node_modules/argparse/
node_modules/babel-jest/
node_modules/babel-plugin-istanbul/
node_modules/babel-plugin-jest-hoist/
node_modules/babel-preset-current-node-syntax/
node_modules/babel-preset-jest/
node_modules/balanced-match/
node_modules/base64-js/
node_modules/bl/
node_modules/brace-expansion/
node_modules/braces/
node_modules/browserslist/
node_modules/bser/
node_modules/buffer/
node_modules/buffer-from/
node_modules/callsites/
node_modules/camelcase/
node_modules/caniuse-lite/
node_modules/chalk/
node_modules/char-regex/
node_modules/chardet/
node_modules/ci-info/
node_modules/cjs-module-lexer/
node_modules/cli-cursor/
node_modules/cli-spinners/
node_modules/cli-width/
node_modules/cliui/
node_modules/clone/
node_modules/co/
node_modules/collect-v8-coverage/
node_modules/color-convert/
node_modules/color-name/
node_modules/color-map/
node_modules/concat-map/
node_modules/convert-source-map/
node_modules/cross-spawn/
node_modules/debug/
node_modules/dedent/
node_modules/deepmerge/
node_modules/defaults/
node_modules/detect-newline/
node_modules/diff-sequences/
node_modules/electron-to-chromium/
node_modules/emittery/
node_modules/emoji-regex/
node_modules/error-ex/
node_modules/escalade/
node_modules/escape-string-regexp/
node_modules/esprima/
node_modules/execa/
node_modules/exit/
node_modules/expect/
node_modules/external-editor/
node_modules/fast-json-stable-stringify/
node_modules/fb-watchman/
node_modules/figures/
node_modules/fill-range/
node_modules/find-up/
node_modules/fs.realpath/
node_modules/fsevents/
node_modules/function-bind/
node_modules/gensync/
node_modules/get-caller-file/
node_modules/get-package-type/
node_modules/get-stream/
node_modules/glob/
node_modules/globals/
node_modules/graceful-fs/
node_modules/has/
node_modules/has-flag/
node_modules/html-escaper/
node_modules/human-signals/
node_modules/iconv-lite/
node_modules/ieee754/
node_modules/import-local/
node_modules/imurmurhash/
node_modules/inflight/
node_modules/inherits/
node_modules/inquirer/
node_modules/is-arrayish/
node_modules/is-core-module/
node_modules/is-fullwidth-code-point/
node_modules/is-generator-fn/
node_modules/is-interactive/
node_modules/is-number/
node_modules/is-stream/
node_modules/is-unicode-supported/
node_modules/isexe/
node_modules/istanbul-lib-coverage/
node_modules/istanbul-lib-instrument/
node_modules/istanbul-lib-report/
node_modules/istanbul-lib-source-maps/
node_modules/istanbul-reports/
node_modules/jest/
node_modules/jest-changed-files/
node_modules/jest-circus/
node_modules/jest-cli/
node_modules/jest-config/
node_modules/jest-diff/
node_modules/jest-docblock/
node_modules/jest-each/
node_modules/jest-environment-node/
node_modules/jest-get-type/
node_modules/jest-haste-map/
node_modules/jest-leak-detector/
node_modules/jest-matcher-utils/
node_modules/jest-message-util/
node_modules/jest-mock/
node_modules/jest-pnp-resolver/
node_modules/jest-regex-util/
node_modules/jest-resolve/
node_modules/jest-resolve-dependencies/
node_modules/jest-runner/
node_modules/jest-runtime/
node_modules/jest-snapshot/
node_modules/jest-util/
node_modules/jest-validate/
node_modules/jest-watcher/
node_modules/jest-worker/
node_modules/js-tokens/
node_modules/js-yaml/
node_modules/jsesc/
node_modules/json-parse-even-better-errors/
node_modules/json5/
node_modules/kleur/
node_modules/leven/
node_modules/lines-and-columns/
node_modules/locate-path/
node_modules/lodash/
node_modules/log-symbols/
node_modules/lru-cache/
node_modules/make-dir/
node_modules/makeerror/
node_modules/merge-stream/
node_modules/micromatch/
node_modules/mimic-fn/
node_modules/minimatch/
node_modules/ms/
node_modules/mute-stream/
node_modules/natural-compare/
node_modules/node-int64/
node_modules/node-releases/
node_modules/normalize-path/
node_modules/npm-run-path/
node_modules/once/
node_modules/onetime/
node_modules/ora/
node_modules/os-tmpdir/
node_modules/p-limit/
node_modules/p-locate/
node_modules/p-try/
node_modules/parse-json/
node_modules/path-exists/
node_modules/path-is-absolute/
node_modules/path-key/
node_modules/path-parse/
node_modules/picocolors/
node_modules/picomatch/
node_modules/pirates/
node_modules/pkg-dir/
node_modules/pretty-format/
node_modules/prompts/
node_modules/pure-rand/
node_modules/react-is/
node_modules/readable-stream/
node_modules/require-directory/
node_modules/resolve/
node_modules/resolve-cwd/
node_modules/resolve-from/
node_modules/resolve.exports/
node_modules/restore-cursor/
node_modules/run-async/
node_modules/rxjs/
node_modules/safe-buffer/
node_modules/safer-buffer/
node_modules/semver/
node_modules/shebang-command/
node_modules/shebang-regex/
node_modules/signal-exit/
node_modules/sisteransi/
node_modules/slash/
node_modules/source-map/
node_modules/source-map-support/
node_modules/sprintf-js/
node_modules/stack-utils/
node_modules/string_decoder/
node_modules/string-length/
node_modules/string-width/
node_modules/strip-ansi/
node_modules/strip-bom/
node_modules/strip-final-newline/
node_modules/strip-json-comments/
node_modules/supports-color/
node_modules/supports-preserve-symlinks-flag/
node_modules/test-exclude/
node_modules/through/
node_modules/tmp/
node_modules/tmpl/
node_modules/to-fast-properties/
node_modules/to-regex-range/
node_modules/tslib/
node_modules/type-detect/
node_modules/type-fest/
node_modules/update-browserslist-db/
node_modules/util-deprecate/
node_modules/v8-to-istanbul/
node_modules/walker/
node_modules/wcwidth/
node_modules/which/
node_modules/wrap-ansi/
node_modules/wrappy/
node_modules/write-file-atomic/
node_modules/y18n/
node_modules/yallist/
node_modules/yargs/
node_modules/yargs-parser/
node_modules/yocto-queue/
